__pycache__/
*.py[cod]
*.db
.DS_Store
.env
.env.*
!.env.example
!backend/.env.example

backend/venv/
backend/storage/audio/*
backend/storage/video/*
backend/storage/voice_messages/*
!backend/storage/audio/.gitkeep
!backend/storage/video/.gitkeep
!backend/storage/voice_messages/.gitkeep

frontend/node_modules/
frontend/dist/
